.image{
    width: 70%;
}

.content{
    
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding-top: 40px;
        padding-bottom: 40px;
        align-items: center;
        background-color: beige;
    
    }

    *{
        margin: 0;
        padding: 0;
    }
    
    .rate:not(:checked) >div> input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked)>div > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#000000;
    }
    .rate:not(:checked) >div> label:before {
        content: '★ ';
    }
    .rate>div > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked)>div > label:hover,
    .rate:not(:checked) >div> label:hover ~ label {
        color: #deb217;  
    }
    .rate >div> input:checked + label:hover,
    .rate >div> input:checked + label:hover ~ label,
    .rate >div> input:checked ~ label:hover,
    .rate >div> input:checked ~ label:hover ~ label,
    .rate >div> label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

    .rate{
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        background-color: rgba(128, 128, 128, 0.477);
    }

    @media (max-width:600px){
        .ingredients{
            font-size: 30px !important;
        }
    }
  
    
